body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(30, 38%, 92%);
}

.container {
    width: 600px;
    height: 450px;
    border-radius: 20px;
    line-height: 0;
}

.container img {
    content: url(/assets/images/image-product-desktop.jpg);
    width: 300px;
    height: 450px;
    float: left;
    border-radius: 10px 0 0 10px;
    line-height: 10px;  
}

.description {
    background-color: hsl(0, 0%, 100%);
    width: 240px;
    float: right;
    height: 390px;
    border-radius: 0px 10px 10px 0;
    padding: 30px;
}

.product {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-size: 14px;
}

.product-name {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 35px;
    color: hsl(212, 21%, 14%);
    line-height: 30px; 
}

.about {
    font-family: "Montserrat", serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 500;
}

.price-tag {
    display: flex;
    margin-bottom: 20px;
}

.new-price-tag {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(158, 36%, 37%)
}

.old-price-tag {
    color: hsl(228, 12%, 48%);
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Montserrat", serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: "Montserrat", serif;
    font-weight: 500;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

button div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

.material-symbols-outlined {
    font-size: 18px;
    margin-right: 8px;
}

@media(max-width: 600px){
    .content {
        flex-direction: column;
        width: 300px;
        height: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

  .container img {
    content: url('/assets/images/image-product-mobile.jpg');
    width: 90%;
    height: 40%;
  }

  .description{
    width: 90%;
    height: 50%;
    line-height: 0;
    padding: 20px;
  }
}